:root{
  --color-primary: #E3B748;
  --color-black: #1D1D1D;
  --color-white: #FFF;
  
}

::before, 
::after{
  box-sizing: border-box;
}

*{
  margin: 0;
}

html, body{
  height: 100%;
}

body{
  font-family: 'inter',sans-serif;
  line-height: 1.5;
  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;
}

.swiper-slide{
  width: auto !important;
}

.heroWrapper{
  background-color: #111111;
  height: 100vh;
  padding-left: 150px; 
  padding-right: 150px;
}