.btn1{
  width: 137px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 43px;
  background: var(--color-primary);
  cursor: pointer;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.btn2{
    width: 121px;
height: 43px;
    border-radius: 23.5px;
    background: var(--color-primary);
    cursor: pointer;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }

  .btn1{
    width: 137px;
    height: 62px;
    flex-shrink: 0;
    border-radius: 43px;
    background: var(--color-primary);
    cursor: pointer;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }

  .btnleft{
    width: 90.612px;
height: 90.612px;
    border-radius: 43px;
    background: var(--color-white);
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }

  .btnright{
    width: 90.612px;
height: 90.612px;
    border-radius: 43px;
    background: var(--color-primary);
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }

  .btnAccordion{
    width: 28px;
height: 28px;
    border-radius: 43px;
    background: var(--color-primary);
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
