.teamWrap{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 110px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    column-gap: 100px;
    row-gap: 50px;
}

.card{
    display: flex;
    align-items: center;
    width: 200px;
    /* padding: 0 20px; */
height: 109px;
flex-shrink: 0;
border-radius: 14px;
}

.card:nth-child(2){
    width: 200;
    padding: 0 100px 0 30px;
    background: #E3B748;
    color: var(--color-black);
}